<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>

  <div class="container" id="main-container">
    <img src="/logos/full/blue-on-white/2blue-logo-256px.png" /><br /><br />
    <h2>We are building this site as we speak...</h2><br />


    <form>
      <fieldset>
        <label>Alert me when 2Blue's site launches:</label>
        <input type="text" placeholder="Email Address..." />
        <button type="submit" class="btn btn-warning btn-sm">Submit</button>
      </fieldset>
    </form>
  </div>

  <%include ../partials/footer %>
</body>
</html>
